*{
    margin: 20px auto;
}
h1{
    font-size: 50px;
    text-align: center;
    color:crimson;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
table{
    border: 15px double rgb(228, 124, 173);
    border-collapse: collapse;
    font-size: 30px;
    text-align: center;
}
td{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
    color:rgb(12, 96, 8);
}
th{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    color: rgb(238, 185, 42);
    font-weight: bolder;
}

/* Form design */

form{
    width: 600px;
    height: 850px;
    box-shadow: 0 0 5px black;
    padding: 20px 30px;
}
