header{
    background-color: deeppink;
    color: white;
    width: 100%;
    font-size: 50px;
    text-align: center;
}
.box{
     width: 150px;
     height: 150px;
     box-shadow: 0 0px 10px black;
     font-size: 25px;
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     color:black;
     text-align: center;
 }
 p{
     font-size: 25px;
 }
 .box1{
    background-color: red;
    position: sticky;
    top: 0px;
    left: 800px;
}
.box2{
    background-color:aquamarine;
    position: static;
}
.box3{
    background-color:yellow;
    position: absolute;
    left:400px;
}
.box4{
    background-color:teal;
    position: fixed;
    right: 100px;
    top: 500px;
}
.box5{
    background-color:lawngreen;
    position: relative;
    top : 1000px;
    left: 600px;
}
