*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    border: 10px solid red;
    border-radius: 10px;
}
.div1{
    width: calc(100%-33px);
    margin: 30px 30px;
    padding: 40px;
    background-color:lightpink;
}
.div2 h3{
    text-align:center;
    margin-bottom: 15px;
}
.div2{
    max-width: 400px;
    margin: auto;
    padding: 30px;
    border: 5px dotted darkgreen;
    justify-content:justify;
    border-radius: 10px;
    background-color: lightgreen;
    overflow: hidden;
}
.div3{
    background-color: lightgrey;
    padding: 30px;
    margin: 30px;
}
.div3 p{
    margin: 20px;
    padding: 30px;
    background-color: lightcoral;
    border-radius: 40px 5px;
}
