body{
    background-color:rgb(12, 16, 40);
    color: white;
    height: 100vh;
}
.header1{
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
.para{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}
.left-section{
    width: 40%;
    margin: 150px 100px;
}
.header2{
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.content-top-left h4,.content-bottom-left h4{
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:crimson;
    margin-bottom: 1px;
}
.content-top-left p,.content-bottom-left p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content-top-right,.content-bottom-right{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: right;
    margin-top: -100px;
    margin-right: 70px;
}
.right-section{
    width: 40%;
    float: right;
    margin: -530px 100px;
}
input[type="text"],input[type="email"],input[type="tel"]{
    font: 20px sans-serif;
    background-color: rgb(12, 16, 40);
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    margin-left: 30px;
    margin-bottom: 60px;
}
#details{
    width: 90%;
}
.right-section p{
    font-size: 12px;
    float: right;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
span{
    color: crimson;
}
h3{
    float: right;
}
