h1{
    background-color: lightblue;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blue;
    text-align: center;
}
h2{
    background-color: lightcoral;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: red;
    text-align: center;
}
p{
    margin: 20px 20px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    justify-content: justify;
    color:rgb(15, 189, 67);
}
